@font-face {
    font-family: digital-font;
    src: url(digital-7.ttf);
}
html{
    background: #018DED URL(purplecar.jpeg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 10.5%;
    height: 6px;
    background: rgb(68, 0, 255);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    box-shadow: 3px 3px 3px 3px rgb(53,53,53, .5);
}

.button {
    width: 5.5%;
    height: 10%;
    position: absolute;
    top: 46%;
    left: 47.5%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(53,53,53, .5);
}

.hour-hand {
    width: 9%;
    right: 49.8%;
}
.second-hand {
    background: rgb(162, 0, 255);
}

.digital-clock {
    font-family: digital-font;
    font-size: 12rem;
    color: white;
    width: 400px;
}

.time{
    padding-right: 20px;
    text-shadow: 2px 2px 4px black;
}